.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 10vmin;
  color: blueviolet;
}

.Header__Logo {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 2rem;
  padding: .25rem;
}

.Header__Item {
  font-size: 2rem;
  font-weight: lighter;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: .25rem;
}

hr {
  width: 90vw;
}

.App {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

input {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input-Form {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}

.Input-Form__Submit-Button {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 4px;
  padding: .25rem;
}

