.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 5vmin;
  color: palegoldenrod;
  background-color: darkred;
  border-bottom: 4px double black;
}

.Header__Logo {
  font-size: 2.5rem;
  font-weight: 800;
  margin-left: 2rem;
  padding: .25rem;
}

.Header__Item {
  font-size: 2rem;
  font-weight: 200;
  margin-left: 2rem;
  margin-right: 2rem;
  transform: absolute;
  padding: .25rem;
  min-width: 150px;
  transition: font-size .125s;
}

.Header__Item:hover {
  font-size: 2.1rem;        
}

hr {
  width: 90vw;
}

.App {
  background-color: black;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Movie-Card {
  display: grid;
  // grid-template-rows: 5% 15% auto;
  grid-template-columns: 50% 47% auto;
  align-items: stretch;
  // border: 2px solid white;
  margin: 2rem;

  font-weight: 200;
  font-size: 18pt;

  p {
    font-size: 14pt;
  }
  
  img{
    width: 400px;
    height: 600px;
  }

  li{
    list-style-type: none;
    margin-left: 1rem;
    font-size: 18pt;
    font-weight: 180;
    
  }
  
  h3{
    padding: .5rem;
    font-weight: 600;
    letter-spacing: .1rem;
  }

  .upvote {
    display:flex;
    border: 1px solid white;
    width: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .downvote {
    display:flex;
    border: 1px solid white;
    width: 30px;
    justify-content: center;
    align-items: center;
  }
}

.Sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
}

.Sidebar-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  font-size: 12pt;
  font-weight: 80;
}

a {
  color: #61dafb;
}

input {
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input-Form {
  display: flex;
  flex-direction: column;
  font-weight: lighter;
}

.Input-Form__Submit-Button {
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 4px;
  padding: .25rem;
}

